<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>虛構早午餐</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
  <div align="center">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:8080/api/index">虛構早午餐</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">關於</a>
            </li>
<!--            <li class="nav-item">-->
<!--              <a th:href="@{/api/management}">產品管理</a>-->
<!--            </li>-->
          </ul>

<!--          <ul class="nav justify-content-end">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="http://localhost:8080/api/login">登入</a>-->
<!--            </li>-->
<!--          </ul>-->

        </div>
      </div>
    </nav>
    <br/><br/>
      <a th:href="@{/api/management}">產品管理</a>

    <table border="1" cellpadding="10">
      <thead>
        <tr>
          <th></th>
          <th>名稱</th>
          <th>售價</th>
          <th>數量</th>
          <th>備註</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="product : ${listProducts}">
          <td>
            <input type="checkbox" th:value="${product.id}">
          </td>
          <td th:text="${product.name}"></td>
          <td th:text="${product.price}"></td>
          <td>
            <input type = "number" min ="0" max="100">
          </td>
          <td><input type = "text"></td>
        </tr>
      </tbody>

    </table>
    <br>
    <button type="button" class="btn btn-primary" id="send">確定訂單</button>
  </div>

  <script src="https://getbootstrap.com/#:~:text=%3Cscript%20src%3D%22https%3A//cdn.jsdelivr.net/npm/bootstrap%405.3.0%2Dalpha1/dist/js/bootstrap.bundle.min.js%22%20integrity%3D%22sha384%2Dw76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC%2BnuZB%2BEYdgRZgiwxhTBTkF7CXvN%22%20crossorigin%3D%22anonymous%22%3E%3C/script%3E"></script>
</body>
</html>